/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 27, 2025, 2:59:49 PM
    Author     : aphasan
*/
.ui-datatable, ui-treetable {
    background-color: var(--bluegray-100) !important;
}
.ui-datatable-scrollable-header, .ui-treetable-scrollable-header {
    background-color: var(--surface-200) !important;
}
.ui-datatable thead th, .ui-treetable thead th {
    background-color: var(--surface-200) !important;
    border-color: var(--surface-400) !important;
}
.ui-datatable-resizable th.ui-resizable-column, .ui-treetable.ui-treetable-gridlines thead>tr>th {
    text-align: center;
    color: var(--surface-700);
}
.ui-datatable-scrollable-body, .ui-treetable-scrollable-body {
    overflow-x: hidden!important;
    overflow-y: scroll!important;
    background-color: var(--bluegray-100) !important;
}
.overlay-filter .filter-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}
.form-field label {
    font-weight: 600;
    color: var(--text-color) !important;
}
.inline-filter .filter-field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.noheader thead {
    display: none;
}
.ui-cell-editor {
    display: flex;
    justify-content: start;
    width: 100%;
}
.ui-cell-editor-output {
    width: 100%;
}
.ui-cell-editor-input {
    width: 100%;
}
.ui-inputwrapper-filled {
    width: 100%;
}
.ui-inputwrapper-filled input {
    width: 100%;
}
.ui-fileupload-simple .ui-button {
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #2196f3;
}

